aiohttp==3.12.13
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
black==24.2.0
charset-normalizer==3.4.2
discord.py==2.3.2
frozenlist==1.4.1
idna==3.6
multidict==6.5.0
yarl==1.20.1
contentful==2.4.0
python-dotenv==1.0.1
cogwatch==3.1.0
random-topic==0.1.2
html5lib==1.1
bs4==0.0.2
tzdata==2024.1
pyopentdb==0.0.4
wonderwords==2.2.0
Pillow==10.0.1
pyairtable==3.1.1